name: Update RSS

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install feedparser

      - run: python scripts/build_latest.py

      - run: |
          git config user.name "rss-bot"
          git config user.email "rss-bot@users.noreply.github.com"
          git add api/latest.json
          git commit -m "auto update latest.json" || exit 0
          git push
